.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}
.header-green {
  background-color: #008539;
  height: 50px;
  width: 32%;
  padding: 10px;
  position: fixed;
  z-index: 10000;
}
.logo {
  color: #fff;
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
}
.parent-grid-panel {
  width: 100%;
  text-align: center;
  border: 0.7px solid #ccc;
  padding-bottom: 15px;
}
.panel-img {
  height: 235px;
  width: 200px;
  background-size: contain;
}
.left-col-css {
  padding: 0px 15px 0px 0px;
}
.right-col-css {
  padding: 0px 0px 0px 15px;
}
.cake-name {
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cake-cost {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}
.cake-off-percentage {
  color: #008539;
}
.cake-off-amount {
  opacity: 0.5;
  text-decoration: line-through;
}
.checked {
  color: orange;
}
.unchecked {
  color: #ccc;
}

.best-seller-label {
  width: 100px;
  background: #008539;
  color: #fff;
  border-radius: 0px 0px 4px 4px;
  font-size: 10px;
  font-weight: normal;
  position: absolute;
  top: 0px;
  line-height: 16px;
}

.favorite {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 2px;
  line-height: 16px;
  margin-right: 10px;
  color: #008539;
  display: flex;
  margin-left: 185px;
  cursor: pointer;
}
.not-favorite {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 2px;
  line-height: 16px;
  margin-right: 10px;
  color: aliceblue;
  display: flex;
  margin-left: 185px;
  cursor: pointer;
}

show-dropdown-menu {
  position: relative;
  top: 100%;
  left: 0;
  z-index: 1000;
  /* display: none; */
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.btn-primary {
  color: #fff;
  background-color: #008539;
  border-color: #008539;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary::selection {
  color: #fff;
  background-color: #008539;
  border-color: #008539;
}

.show-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  /* display: none; */
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dont-show-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-li-element {
  text-align: center;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
